nav{
    background-color: white;
    color: 'black';
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */;
    padding: 0px 20rem 0px 2rem;
    ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        li{
            list-style-type: none;
            cursor: pointer;
        }
    }
    
}